.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  display: flex;
}

footer {
  grid-area: footer;
}
